<ion-view view-title="{{name || ('Library' | translate)}}">
  <ion-content>
    <ion-refresher
       pulling-text="Pull to refresh library..."
       on-refresh="refresh()">
    </ion-refresher>

    <form ng-submit="search()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="{{'Search here...' | translate}}">
      </label>
    </form>

    <div class="list">
      <a class="item item-icon-left browse-item"
         collection-repeat="ref in refs"
         collection-item-width="'100%'"
         collection-item-height="50"
         ng-class="{'item-icon-right': ref.type != 'track'}"
         ng-click="ref.type == 'track' ? play(ref) : null"
         ng-href="{{ref.type != 'track' ? '#/tabs/library/browse?name=' + (ref.name | encode) + '&uri=' + (ref.uri | encode) : '#'}}"
         >
        <i class="icon" ng-class="'mopidy-icon-' + ref.type"></i>
        {{ref.name}}
        <i ng-if="ref.type != 'track'" class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
