<ion-view view-title="{{ref.name || ref.uri || ('Library' | translate)}}">
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="LibraryMenuCtrl"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher on-refresh="refresh()" pulling-text="{{'Pull to refresh' | translate}}">
    </ion-refresher>
    <form ng-submit="search(q)">
      <label class="item item-input">
        <i class="mopidy-mobile-icon-search placeholder-icon"></i>
        <input type="search" placeholder="{{'Search here' | translate}}..." ng-model="q">
      </label>
    </form>
    <div class="list">
      <div class="item item-complex item-icon-left item-icon-right"
           collection-repeat="ref in refs"
           ng-switch="ref.type"
           >
        <a class="item-content"
           href=""
           ng-click="click(ref)"
           ng-switch-when="track"
           >
          <i class="mopidy-mobile-icon-track"></i>
          {{ref.name}}
          <i class="icon"></i>
        </a>
        <a class="item-content"
           ui-sref="main.library.browse({type: ref.type, name: ref.name, uri: ref.uri})"
           ng-switch-default
           >
          <i ng-class="'mopidy-mobile-icon-' + ref.type"></i>
          {{ref.name}}
          <i class="mopidy-mobile-icon-link icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
