<ion-view view-title="{{name || uri || ('Library' | translate)}}">
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="LibraryMenuCtrl"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left"
         collection-repeat="track in tracks"
         ng-click="click(track)"
         >
        <img class="mopidy-mobile-thumbnail-track" ng-src="{{images[track.uri].uri}}">
        <h2>{{track.name}}</h2>
        <h3>{{track.artists[0].name}}</h3>
        <h4>{{track.album.name}}</h4>
      </a>
    </div>
  </ion-content>
</ion-view>
