<ion-view hide-nav-bar="true" view-title="Playback">
  <ion-header-bar class="range">
    0:43
    <input type="range" name="time">
    1:15:42
  </ion-header-bar>

  <ion-content class="has-subfooter">
    <div style="text-align: center">
      {{state}}
      <h2>{{track.name || 'Nothing playing'}}</h2>
      <h3>{{track.artists[0].name}}</h3>
      <p>{{track.album.name}}</p>
      <img ng-src="{{track.album.images[0]}}">
    </div>
  </ion-content>

  <ion-footer-bar class="bar-subfooter">
    <div class="button-bar">
      <button class="button button-icon icon ion-skip-backward"></button>
      <button class="button button-icon icon ion-play"></button>
      <button class="button button-icon icon ion-pause"></button>
      <button class="button button-icon icon ion-stop"></button>
      <button class="button button-icon icon ion-skip-forward"></button>
    </div>
  </ion-footer-bar>

  <ion-footer-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-volume-mute"></button>
    </div>
    <div class="range" style="width: 100%">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume" min="0" max="100">
      <i class="icon ion-volume-high"></i>
    </div>
  </ion-footer-bar>
</ion-view>
