<ion-view view-title="{{'Playlists' | translate}}">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-icon icon mopidy-mobile-icon-create"
       ui-sref="main.playlist.edit({uri: none})"
       >
    </a>
    <button class="button button-clear icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="PlaylistsMenuCtrl"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
       on-refresh="refresh()"
       pulling-text="{{'Pull to refresh' | translate}}"
       >
    </ion-refresher>
    <div class="list">
      <a class="item item-icon-right"
         collection-repeat="playlist in playlists | orderBy: 'name'"
         ui-sref="main.playlist.view({uri: playlist.uri})"
         >
        {{playlist.name}}
        <i class="icon icon-accessory ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
