<ion-view view-title="{{'Search {name}' | translate:(ref || {name: ('Library' | translate)}) }}">
  <ion-content>
    <!--form ng-submit="submit()"-->
      <div class="list">
        <div class="item item-input item-button-left" ng-repeat="term in terms">
          <button class="button button-assertive button-clear button-icon icon ion-ios-minus"
                  ng-click="remove($index)"
                  ng-disabled="terms.length < 2"
                  >
          </button>
          <label class="input-label">
            <select ng-model="term.key" style="vertical-align: middle;">
              <option value="any" translate>Any</option>
              <option value="album" translate>Album</option>
              <option value="albumartist" translate>Album artist</option>
              <option value="artist" translate>Artist</option>
              <option value="comment" translate>Comment</option>
              <option value="composer" translate>Composer</option>
              <option value="date" translate>Date</option>
              <option value="genre" translate>Genre</option>
              <option value="performer" translate>Performer</option>
              <option value="track_name" translate>Track</option>
            </select>
          </label>
          <input class="" ng-model="term.value" type="text">
        </div>
        <div class="item item-toggle item-button-left">
          <button class="button button-balanced button-clear button-icon icon ion-ios-plus"
                  ng-click="add({key: 'any', value: ''})"
                  >
          </button>
          Find exact
          <label class="toggle">
            <input ng-model="params.exact" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="submit()" translate>
          Search
        </button>
      </div>
    <!--/form-->
  </ion-content>
</ion-view>
