<ion-view delegate-href view-title="{{'Search results' | translate}}">
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-play"
            ng-click="actions.default(tracks)"
            ng-disabled="!tracks.length"
            >
    </button>
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="LibraryMenuCtrl"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right"
         ng-repeat="artist in artists"
         ui-sref="main.library.lookup({name: artist.name, uri: artist.uri})"
         >
        <img ng-class="{'mopidy-mobile-thumbnail-artist': !images[artist.uri].uri}"
             ng-src="{{images[artist.uri].uri || thumbnailSrc}}"
             >
        <h2>{{artist.name}}</h2>
        <h3></h3>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right"
         ng-repeat="album in albums"
         ui-sref="main.library.lookup({name: album.name, uri: album.uri})"
         >
        <img ng-class="{'mopidy-mobile-thumbnail-album': !images[album.uri].uri}"
             ng-src="{{images[album.uri].uri || thumbnailSrc}}"
             >
        <h2>{{album.name}}</h2>
        <h3>{{album.artists[0].name}}</h3>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-button-right"
           ng-repeat="track in tracks"
           ng-click="actions.default(track)"
           >
        <img ng-class="{'mopidy-mobile-thumbnail-track': !images[track.uri].uri}"
             ng-src="{{images[track.uri].uri || thumbnailSrc}}"
             >
        <h2>{{track.name}}</h2>
        <h3>{{track.artists[0].name}}</h3>
        <h4>{{track.album.name}}</h4>
        <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
                ng-click="popover.show($event, track)">
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
