<ion-view view-title="{{'Settings' | translate}}">
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="SettingsMenuCtrl"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" ui-sref="main.settings.interface">
        <span translate>Look and feel</span>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </a>
      <a class="item item-icon-right" ui-sref="main.settings.coverart">
        <span translate>Cover art</span>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </a>
      <a class="item item-icon-right" ui-sref="main.logging">
        <span translate>Logging</span>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </a>
      <a class="item item-icon-right" ui-sref="main.settings.licenses">
        <span translate>Licenses</span>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </a>
      <a class="item item-icon-right" ui-sref="main.settings.about">
        <span translate>About</span>
        <i class="mopidy-mobile-icon-link icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
