    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="Playback" icon="ion-music-note" href="#/playback">
        <ion-nav-view name="playback"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Tracklist" icon="ion-navicon" href="#/tracklist">
        <ion-nav-view name="tracklist"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Library" icon="ion-home" href="#/library">
        <ion-nav-view name="library"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Playlists" icon="ion-star" href="#/playlists">
        <ion-nav-view name="playlists"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Settings" icon="ion-gear-a" href="#/settings">
        <ion-nav-view name="settings"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
