$icomoon-font-path: "../fonts" !default;
$icomoon-font-family: "icomoon" !default;
$icomoon-version: "0.0.3" !default;
$icomoon-prefix: icomoon- !default;

@font-face {
    font-family: $icomoon-font-family;
    src:url("#{$icomoon-font-path}/icomoon.eot?v=#{$icomoon-version}");
    src:url("#{$icomoon-font-path}/icomoon.eot?v=#{$icomoon-version}#iefix") format('embedded-opentype'),
    url("#{$icomoon-font-path}/icomoon.ttf?v=#{$icomoon-version}") format('truetype'),
    url("#{$icomoon-font-path}/icomoon.woff?v=#{$icomoon-version}") format('woff'),
    url("#{$icomoon-font-path}/icomoon.svg?v=#{$icomoon-version}#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

.#{$icomoon-prefix}home, .#{$icomoon-prefix}home-2, .#{$icomoon-prefix}home-3, .#{$icomoon-prefix}office, .#{$icomoon-prefix}newspaper, .#{$icomoon-prefix}pencil, .#{$icomoon-prefix}pencil-2, .#{$icomoon-prefix}quill, .#{$icomoon-prefix}pen, .#{$icomoon-prefix}blog, .#{$icomoon-prefix}droplet, .#{$icomoon-prefix}paint-format, .#{$icomoon-prefix}image, .#{$icomoon-prefix}image-2, .#{$icomoon-prefix}images, .#{$icomoon-prefix}camera, .#{$icomoon-prefix}music, .#{$icomoon-prefix}headphones, .#{$icomoon-prefix}play, .#{$icomoon-prefix}film, .#{$icomoon-prefix}camera-2, .#{$icomoon-prefix}dice, .#{$icomoon-prefix}pacman, .#{$icomoon-prefix}spades, .#{$icomoon-prefix}clubs, .#{$icomoon-prefix}diamonds, .#{$icomoon-prefix}pawn, .#{$icomoon-prefix}bullhorn, .#{$icomoon-prefix}connection, .#{$icomoon-prefix}podcast, .#{$icomoon-prefix}feed, .#{$icomoon-prefix}book, .#{$icomoon-prefix}books, .#{$icomoon-prefix}library, .#{$icomoon-prefix}file, .#{$icomoon-prefix}profile, .#{$icomoon-prefix}file-2, .#{$icomoon-prefix}file-3, .#{$icomoon-prefix}file-4, .#{$icomoon-prefix}copy, .#{$icomoon-prefix}copy-2, .#{$icomoon-prefix}copy-3, .#{$icomoon-prefix}paste, .#{$icomoon-prefix}paste-2, .#{$icomoon-prefix}paste-3, .#{$icomoon-prefix}stack, .#{$icomoon-prefix}folder, .#{$icomoon-prefix}folder-open, .#{$icomoon-prefix}tag, .#{$icomoon-prefix}tags, .#{$icomoon-prefix}barcode, .#{$icomoon-prefix}qrcode, .#{$icomoon-prefix}ticket, .#{$icomoon-prefix}cart, .#{$icomoon-prefix}cart-2, .#{$icomoon-prefix}cart-3, .#{$icomoon-prefix}coin, .#{$icomoon-prefix}credit, .#{$icomoon-prefix}calculate, .#{$icomoon-prefix}support, .#{$icomoon-prefix}phone, .#{$icomoon-prefix}phone-hang-up, .#{$icomoon-prefix}address-book, .#{$icomoon-prefix}notebook, .#{$icomoon-prefix}envelop, .#{$icomoon-prefix}pushpin, .#{$icomoon-prefix}location, .#{$icomoon-prefix}location-2, .#{$icomoon-prefix}compass, .#{$icomoon-prefix}map, .#{$icomoon-prefix}map-2, .#{$icomoon-prefix}history, .#{$icomoon-prefix}clock, .#{$icomoon-prefix}clock-2, .#{$icomoon-prefix}alarm, .#{$icomoon-prefix}alarm-2, .#{$icomoon-prefix}bell, .#{$icomoon-prefix}stopwatch, .#{$icomoon-prefix}calendar, .#{$icomoon-prefix}calendar-2, .#{$icomoon-prefix}print, .#{$icomoon-prefix}keyboard, .#{$icomoon-prefix}screen, .#{$icomoon-prefix}laptop, .#{$icomoon-prefix}mobile, .#{$icomoon-prefix}mobile-2, .#{$icomoon-prefix}tablet, .#{$icomoon-prefix}tv, .#{$icomoon-prefix}cabinet, .#{$icomoon-prefix}drawer, .#{$icomoon-prefix}drawer-2, .#{$icomoon-prefix}drawer-3, .#{$icomoon-prefix}box-add, .#{$icomoon-prefix}box-remove, .#{$icomoon-prefix}download, .#{$icomoon-prefix}upload, .#{$icomoon-prefix}disk, .#{$icomoon-prefix}storage, .#{$icomoon-prefix}undo, .#{$icomoon-prefix}redo, .#{$icomoon-prefix}flip, .#{$icomoon-prefix}flip-2, .#{$icomoon-prefix}undo-2, .#{$icomoon-prefix}redo-2, .#{$icomoon-prefix}forward, .#{$icomoon-prefix}reply, .#{$icomoon-prefix}bubble, .#{$icomoon-prefix}bubbles, .#{$icomoon-prefix}bubbles-2, .#{$icomoon-prefix}bubble-2, .#{$icomoon-prefix}bubbles-3, .#{$icomoon-prefix}bubbles-4, .#{$icomoon-prefix}user, .#{$icomoon-prefix}users, .#{$icomoon-prefix}user-2, .#{$icomoon-prefix}users-2, .#{$icomoon-prefix}user-3, .#{$icomoon-prefix}user-4, .#{$icomoon-prefix}quotes-left, .#{$icomoon-prefix}busy, .#{$icomoon-prefix}spinner, .#{$icomoon-prefix}spinner-2, .#{$icomoon-prefix}spinner-3, .#{$icomoon-prefix}spinner-4, .#{$icomoon-prefix}spinner-5, .#{$icomoon-prefix}spinner-6, .#{$icomoon-prefix}binoculars, .#{$icomoon-prefix}search, .#{$icomoon-prefix}zoom-in, .#{$icomoon-prefix}zoom-out, .#{$icomoon-prefix}expand, .#{$icomoon-prefix}contract, .#{$icomoon-prefix}expand-2, .#{$icomoon-prefix}contract-2, .#{$icomoon-prefix}key, .#{$icomoon-prefix}key-2, .#{$icomoon-prefix}lock, .#{$icomoon-prefix}lock-2, .#{$icomoon-prefix}unlocked, .#{$icomoon-prefix}wrench, .#{$icomoon-prefix}settings, .#{$icomoon-prefix}equalizer, .#{$icomoon-prefix}cog, .#{$icomoon-prefix}cogs, .#{$icomoon-prefix}cog-2, .#{$icomoon-prefix}hammer, .#{$icomoon-prefix}wand, .#{$icomoon-prefix}aid, .#{$icomoon-prefix}bug, .#{$icomoon-prefix}pie, .#{$icomoon-prefix}stats, .#{$icomoon-prefix}bars, .#{$icomoon-prefix}bars-2, .#{$icomoon-prefix}gift, .#{$icomoon-prefix}trophy, .#{$icomoon-prefix}glass, .#{$icomoon-prefix}mug, .#{$icomoon-prefix}food, .#{$icomoon-prefix}leaf, .#{$icomoon-prefix}rocket, .#{$icomoon-prefix}meter, .#{$icomoon-prefix}meter2, .#{$icomoon-prefix}dashboard, .#{$icomoon-prefix}hammer-2, .#{$icomoon-prefix}fire, .#{$icomoon-prefix}lab, .#{$icomoon-prefix}magnet, .#{$icomoon-prefix}remove, .#{$icomoon-prefix}remove-2, .#{$icomoon-prefix}briefcase, .#{$icomoon-prefix}airplane, .#{$icomoon-prefix}truck, .#{$icomoon-prefix}road, .#{$icomoon-prefix}accessibility, .#{$icomoon-prefix}target, .#{$icomoon-prefix}shield, .#{$icomoon-prefix}lightning, .#{$icomoon-prefix}switch, .#{$icomoon-prefix}power-cord, .#{$icomoon-prefix}signup, .#{$icomoon-prefix}list, .#{$icomoon-prefix}list-2, .#{$icomoon-prefix}numbered-list, .#{$icomoon-prefix}menu, .#{$icomoon-prefix}menu-2, .#{$icomoon-prefix}tree, .#{$icomoon-prefix}cloud, .#{$icomoon-prefix}cloud-download, .#{$icomoon-prefix}cloud-upload, .#{$icomoon-prefix}download-2, .#{$icomoon-prefix}upload-2, .#{$icomoon-prefix}download-3, .#{$icomoon-prefix}upload-3, .#{$icomoon-prefix}globe, .#{$icomoon-prefix}earth, .#{$icomoon-prefix}link, .#{$icomoon-prefix}flag, .#{$icomoon-prefix}attachment, .#{$icomoon-prefix}eye, .#{$icomoon-prefix}eye-blocked, .#{$icomoon-prefix}eye-2, .#{$icomoon-prefix}bookmark, .#{$icomoon-prefix}bookmarks, .#{$icomoon-prefix}brightness-medium, .#{$icomoon-prefix}brightness-contrast, .#{$icomoon-prefix}contrast, .#{$icomoon-prefix}star, .#{$icomoon-prefix}star-2, .#{$icomoon-prefix}star-3, .#{$icomoon-prefix}heart, .#{$icomoon-prefix}heart-2, .#{$icomoon-prefix}heart-broken, .#{$icomoon-prefix}thumbs-up, .#{$icomoon-prefix}thumbs-up-2, .#{$icomoon-prefix}happy, .#{$icomoon-prefix}happy-2, .#{$icomoon-prefix}smiley, .#{$icomoon-prefix}smiley-2, .#{$icomoon-prefix}tongue, .#{$icomoon-prefix}tongue-2, .#{$icomoon-prefix}sad, .#{$icomoon-prefix}sad-2, .#{$icomoon-prefix}wink, .#{$icomoon-prefix}wink-2, .#{$icomoon-prefix}grin, .#{$icomoon-prefix}grin-2, .#{$icomoon-prefix}cool, .#{$icomoon-prefix}cool-2, .#{$icomoon-prefix}angry, .#{$icomoon-prefix}angry-2, .#{$icomoon-prefix}evil, .#{$icomoon-prefix}evil-2, .#{$icomoon-prefix}shocked, .#{$icomoon-prefix}shocked-2, .#{$icomoon-prefix}confused, .#{$icomoon-prefix}confused-2, .#{$icomoon-prefix}neutral, .#{$icomoon-prefix}neutral-2, .#{$icomoon-prefix}wondering, .#{$icomoon-prefix}wondering-2, .#{$icomoon-prefix}point-up, .#{$icomoon-prefix}point-right, .#{$icomoon-prefix}point-down, .#{$icomoon-prefix}point-left, .#{$icomoon-prefix}warning, .#{$icomoon-prefix}notification, .#{$icomoon-prefix}question, .#{$icomoon-prefix}info, .#{$icomoon-prefix}info-2, .#{$icomoon-prefix}blocked, .#{$icomoon-prefix}cancel-circle, .#{$icomoon-prefix}checkmark-circle, .#{$icomoon-prefix}spam, .#{$icomoon-prefix}close, .#{$icomoon-prefix}checkmark, .#{$icomoon-prefix}checkmark-2, .#{$icomoon-prefix}spell-check, .#{$icomoon-prefix}minus, .#{$icomoon-prefix}plus, .#{$icomoon-prefix}enter, .#{$icomoon-prefix}exit, .#{$icomoon-prefix}play-2, .#{$icomoon-prefix}pause, .#{$icomoon-prefix}stop, .#{$icomoon-prefix}backward, .#{$icomoon-prefix}forward-2, .#{$icomoon-prefix}play-3, .#{$icomoon-prefix}pause-2, .#{$icomoon-prefix}stop-2, .#{$icomoon-prefix}backward-2, .#{$icomoon-prefix}forward-3, .#{$icomoon-prefix}first, .#{$icomoon-prefix}last, .#{$icomoon-prefix}previous, .#{$icomoon-prefix}next, .#{$icomoon-prefix}eject, .#{$icomoon-prefix}volume-high, .#{$icomoon-prefix}volume-medium, .#{$icomoon-prefix}volume-low, .#{$icomoon-prefix}volume-mute, .#{$icomoon-prefix}volume-mute-2, .#{$icomoon-prefix}volume-increase, .#{$icomoon-prefix}volume-decrease, .#{$icomoon-prefix}loop, .#{$icomoon-prefix}loop-2, .#{$icomoon-prefix}loop-3, .#{$icomoon-prefix}shuffle, .#{$icomoon-prefix}arrow-up-left, .#{$icomoon-prefix}arrow-up, .#{$icomoon-prefix}arrow-up-right, .#{$icomoon-prefix}arrow-right, .#{$icomoon-prefix}arrow-down-right, .#{$icomoon-prefix}arrow-down, .#{$icomoon-prefix}arrow-down-left, .#{$icomoon-prefix}arrow-left, .#{$icomoon-prefix}arrow-up-left-2, .#{$icomoon-prefix}arrow-up-2, .#{$icomoon-prefix}arrow-up-right-2, .#{$icomoon-prefix}arrow-right-2, .#{$icomoon-prefix}arrow-down-right-2, .#{$icomoon-prefix}arrow-down-2, .#{$icomoon-prefix}arrow-down-left-2, .#{$icomoon-prefix}arrow-left-2, .#{$icomoon-prefix}arrow-up-left-3, .#{$icomoon-prefix}arrow-up-3, .#{$icomoon-prefix}arrow-up-right-3, .#{$icomoon-prefix}arrow-right-3, .#{$icomoon-prefix}arrow-down-right-3, .#{$icomoon-prefix}arrow-down-3, .#{$icomoon-prefix}arrow-down-left-3, .#{$icomoon-prefix}arrow-left-3, .#{$icomoon-prefix}tab, .#{$icomoon-prefix}checkbox-checked, .#{$icomoon-prefix}checkbox-unchecked, .#{$icomoon-prefix}checkbox-partial, .#{$icomoon-prefix}radio-checked, .#{$icomoon-prefix}radio-unchecked, .#{$icomoon-prefix}crop, .#{$icomoon-prefix}scissors, .#{$icomoon-prefix}filter, .#{$icomoon-prefix}filter-2, .#{$icomoon-prefix}font, .#{$icomoon-prefix}text-height, .#{$icomoon-prefix}text-width, .#{$icomoon-prefix}bold, .#{$icomoon-prefix}underline, .#{$icomoon-prefix}italic, .#{$icomoon-prefix}strikethrough, .#{$icomoon-prefix}omega, .#{$icomoon-prefix}sigma, .#{$icomoon-prefix}table, .#{$icomoon-prefix}table-2, .#{$icomoon-prefix}insert-template, .#{$icomoon-prefix}pilcrow, .#{$icomoon-prefix}left-to-right, .#{$icomoon-prefix}right-to-left, .#{$icomoon-prefix}paragraph-left, .#{$icomoon-prefix}paragraph-center, .#{$icomoon-prefix}paragraph-right, .#{$icomoon-prefix}paragraph-justify, .#{$icomoon-prefix}paragraph-left-2, .#{$icomoon-prefix}paragraph-center-2, .#{$icomoon-prefix}paragraph-right-2, .#{$icomoon-prefix}paragraph-justify-2, .#{$icomoon-prefix}indent-increase, .#{$icomoon-prefix}indent-decrease, .#{$icomoon-prefix}new-tab, .#{$icomoon-prefix}embed, .#{$icomoon-prefix}code, .#{$icomoon-prefix}console, .#{$icomoon-prefix}share, .#{$icomoon-prefix}mail, .#{$icomoon-prefix}mail-2, .#{$icomoon-prefix}mail-3, .#{$icomoon-prefix}mail-4, .#{$icomoon-prefix}google, .#{$icomoon-prefix}google-plus, .#{$icomoon-prefix}google-plus-2, .#{$icomoon-prefix}google-plus-3, .#{$icomoon-prefix}google-plus-4, .#{$icomoon-prefix}google-drive, .#{$icomoon-prefix}facebook, .#{$icomoon-prefix}facebook-2, .#{$icomoon-prefix}facebook-3, .#{$icomoon-prefix}instagram, .#{$icomoon-prefix}twitter, .#{$icomoon-prefix}twitter-2, .#{$icomoon-prefix}twitter-3, .#{$icomoon-prefix}feed-2, .#{$icomoon-prefix}feed-3, .#{$icomoon-prefix}feed-4, .#{$icomoon-prefix}youtube, .#{$icomoon-prefix}youtube-2, .#{$icomoon-prefix}vimeo, .#{$icomoon-prefix}vimeo2, .#{$icomoon-prefix}vimeo-2, .#{$icomoon-prefix}lanyrd, .#{$icomoon-prefix}flickr, .#{$icomoon-prefix}flickr-2, .#{$icomoon-prefix}flickr-3, .#{$icomoon-prefix}flickr-4, .#{$icomoon-prefix}picassa, .#{$icomoon-prefix}picassa-2, .#{$icomoon-prefix}dribbble, .#{$icomoon-prefix}dribbble-2, .#{$icomoon-prefix}dribbble-3, .#{$icomoon-prefix}forrst, .#{$icomoon-prefix}forrst-2, .#{$icomoon-prefix}deviantart, .#{$icomoon-prefix}deviantart-2, .#{$icomoon-prefix}steam, .#{$icomoon-prefix}steam-2, .#{$icomoon-prefix}github, .#{$icomoon-prefix}github-2, .#{$icomoon-prefix}github-3, .#{$icomoon-prefix}github-4, .#{$icomoon-prefix}github-5, .#{$icomoon-prefix}wordpress, .#{$icomoon-prefix}wordpress-2, .#{$icomoon-prefix}joomla, .#{$icomoon-prefix}blogger, .#{$icomoon-prefix}blogger-2, .#{$icomoon-prefix}tumblr, .#{$icomoon-prefix}tumblr-2, .#{$icomoon-prefix}yahoo, .#{$icomoon-prefix}tux, .#{$icomoon-prefix}apple, .#{$icomoon-prefix}finder, .#{$icomoon-prefix}android, .#{$icomoon-prefix}windows, .#{$icomoon-prefix}windows8, .#{$icomoon-prefix}soundcloud, .#{$icomoon-prefix}soundcloud-2, .#{$icomoon-prefix}skype, .#{$icomoon-prefix}reddit, .#{$icomoon-prefix}linkedin, .#{$icomoon-prefix}lastfm, .#{$icomoon-prefix}lastfm-2, .#{$icomoon-prefix}delicious, .#{$icomoon-prefix}stumbleupon, .#{$icomoon-prefix}stumbleupon-2, .#{$icomoon-prefix}stackoverflow, .#{$icomoon-prefix}pinterest, .#{$icomoon-prefix}pinterest-2, .#{$icomoon-prefix}xing, .#{$icomoon-prefix}xing-2, .#{$icomoon-prefix}flattr, .#{$icomoon-prefix}foursquare, .#{$icomoon-prefix}foursquare-2, .#{$icomoon-prefix}paypal, .#{$icomoon-prefix}paypal-2, .#{$icomoon-prefix}paypal-3, .#{$icomoon-prefix}yelp, .#{$icomoon-prefix}libreoffice, .#{$icomoon-prefix}file-pdf, .#{$icomoon-prefix}file-openoffice, .#{$icomoon-prefix}file-word, .#{$icomoon-prefix}file-excel, .#{$icomoon-prefix}file-zip, .#{$icomoon-prefix}file-powerpoint, .#{$icomoon-prefix}file-xml, .#{$icomoon-prefix}file-css, .#{$icomoon-prefix}html5, .#{$icomoon-prefix}html5-2, .#{$icomoon-prefix}css3, .#{$icomoon-prefix}chrome, .#{$icomoon-prefix}firefox, .#{$icomoon-prefix}IE, .#{$icomoon-prefix}opera, .#{$icomoon-prefix}safari, .#{$icomoon-prefix}IcoMoon {
    display: inline-block;
    font-family: $icomoon-font-family;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$icomoon-prefix}home:before {
	content: "\e000";
}
.#{$icomoon-prefix}home-2:before {
	content: "\e001";
}
.#{$icomoon-prefix}home-3:before {
	content: "\e002";
}
.#{$icomoon-prefix}office:before {
	content: "\e003";
}
.#{$icomoon-prefix}newspaper:before {
	content: "\e004";
}
.#{$icomoon-prefix}pencil:before {
	content: "\e005";
}
.#{$icomoon-prefix}pencil-2:before {
	content: "\e006";
}
.#{$icomoon-prefix}quill:before {
	content: "\e007";
}
.#{$icomoon-prefix}pen:before {
	content: "\e008";
}
.#{$icomoon-prefix}blog:before {
	content: "\e009";
}
.#{$icomoon-prefix}droplet:before {
	content: "\e00a";
}
.#{$icomoon-prefix}paint-format:before {
	content: "\e00b";
}
.#{$icomoon-prefix}image:before {
	content: "\e00c";
}
.#{$icomoon-prefix}image-2:before {
	content: "\e00d";
}
.#{$icomoon-prefix}images:before {
	content: "\e00e";
}
.#{$icomoon-prefix}camera:before {
	content: "\e00f";
}
.#{$icomoon-prefix}music:before {
	content: "\e010";
}
.#{$icomoon-prefix}headphones:before {
	content: "\e011";
}
.#{$icomoon-prefix}play:before {
	content: "\e012";
}
.#{$icomoon-prefix}film:before {
	content: "\e013";
}
.#{$icomoon-prefix}camera-2:before {
	content: "\e014";
}
.#{$icomoon-prefix}dice:before {
	content: "\e015";
}
.#{$icomoon-prefix}pacman:before {
	content: "\e016";
}
.#{$icomoon-prefix}spades:before {
	content: "\e017";
}
.#{$icomoon-prefix}clubs:before {
	content: "\e018";
}
.#{$icomoon-prefix}diamonds:before {
	content: "\e019";
}
.#{$icomoon-prefix}pawn:before {
	content: "\e01a";
}
.#{$icomoon-prefix}bullhorn:before {
	content: "\e01b";
}
.#{$icomoon-prefix}connection:before {
	content: "\e01c";
}
.#{$icomoon-prefix}podcast:before {
	content: "\e01d";
}
.#{$icomoon-prefix}feed:before {
	content: "\e01e";
}
.#{$icomoon-prefix}book:before {
	content: "\e01f";
}
.#{$icomoon-prefix}books:before {
	content: "\e020";
}
.#{$icomoon-prefix}library:before {
	content: "\e021";
}
.#{$icomoon-prefix}file:before {
	content: "\e022";
}
.#{$icomoon-prefix}profile:before {
	content: "\e023";
}
.#{$icomoon-prefix}file-2:before {
	content: "\e024";
}
.#{$icomoon-prefix}file-3:before {
	content: "\e025";
}
.#{$icomoon-prefix}file-4:before {
	content: "\e026";
}
.#{$icomoon-prefix}copy:before {
	content: "\e027";
}
.#{$icomoon-prefix}copy-2:before {
	content: "\e028";
}
.#{$icomoon-prefix}copy-3:before {
	content: "\e029";
}
.#{$icomoon-prefix}paste:before {
	content: "\e02a";
}
.#{$icomoon-prefix}paste-2:before {
	content: "\e02b";
}
.#{$icomoon-prefix}paste-3:before {
	content: "\e02c";
}
.#{$icomoon-prefix}stack:before {
	content: "\e02d";
}
.#{$icomoon-prefix}folder:before {
	content: "\e02e";
}
.#{$icomoon-prefix}folder-open:before {
	content: "\e02f";
}
.#{$icomoon-prefix}tag:before {
	content: "\e030";
}
.#{$icomoon-prefix}tags:before {
	content: "\e031";
}
.#{$icomoon-prefix}barcode:before {
	content: "\e032";
}
.#{$icomoon-prefix}qrcode:before {
	content: "\e033";
}
.#{$icomoon-prefix}ticket:before {
	content: "\e034";
}
.#{$icomoon-prefix}cart:before {
	content: "\e035";
}
.#{$icomoon-prefix}cart-2:before {
	content: "\e036";
}
.#{$icomoon-prefix}cart-3:before {
	content: "\e037";
}
.#{$icomoon-prefix}coin:before {
	content: "\e038";
}
.#{$icomoon-prefix}credit:before {
	content: "\e039";
}
.#{$icomoon-prefix}calculate:before {
	content: "\e03a";
}
.#{$icomoon-prefix}support:before {
	content: "\e03b";
}
.#{$icomoon-prefix}phone:before {
	content: "\e03c";
}
.#{$icomoon-prefix}phone-hang-up:before {
	content: "\e03d";
}
.#{$icomoon-prefix}address-book:before {
	content: "\e03e";
}
.#{$icomoon-prefix}notebook:before {
	content: "\e03f";
}
.#{$icomoon-prefix}envelop:before {
	content: "\e040";
}
.#{$icomoon-prefix}pushpin:before {
	content: "\e041";
}
.#{$icomoon-prefix}location:before {
	content: "\e042";
}
.#{$icomoon-prefix}location-2:before {
	content: "\e043";
}
.#{$icomoon-prefix}compass:before {
	content: "\e044";
}
.#{$icomoon-prefix}map:before {
	content: "\e045";
}
.#{$icomoon-prefix}map-2:before {
	content: "\e046";
}
.#{$icomoon-prefix}history:before {
	content: "\e047";
}
.#{$icomoon-prefix}clock:before {
	content: "\e048";
}
.#{$icomoon-prefix}clock-2:before {
	content: "\e049";
}
.#{$icomoon-prefix}alarm:before {
	content: "\e04a";
}
.#{$icomoon-prefix}alarm-2:before {
	content: "\e04b";
}
.#{$icomoon-prefix}bell:before {
	content: "\e04c";
}
.#{$icomoon-prefix}stopwatch:before {
	content: "\e04d";
}
.#{$icomoon-prefix}calendar:before {
	content: "\e04e";
}
.#{$icomoon-prefix}calendar-2:before {
	content: "\e04f";
}
.#{$icomoon-prefix}print:before {
	content: "\e050";
}
.#{$icomoon-prefix}keyboard:before {
	content: "\e051";
}
.#{$icomoon-prefix}screen:before {
	content: "\e052";
}
.#{$icomoon-prefix}laptop:before {
	content: "\e053";
}
.#{$icomoon-prefix}mobile:before {
	content: "\e054";
}
.#{$icomoon-prefix}mobile-2:before {
	content: "\e055";
}
.#{$icomoon-prefix}tablet:before {
	content: "\e056";
}
.#{$icomoon-prefix}tv:before {
	content: "\e057";
}
.#{$icomoon-prefix}cabinet:before {
	content: "\e058";
}
.#{$icomoon-prefix}drawer:before {
	content: "\e059";
}
.#{$icomoon-prefix}drawer-2:before {
	content: "\e05a";
}
.#{$icomoon-prefix}drawer-3:before {
	content: "\e05b";
}
.#{$icomoon-prefix}box-add:before {
	content: "\e05c";
}
.#{$icomoon-prefix}box-remove:before {
	content: "\e05d";
}
.#{$icomoon-prefix}download:before {
	content: "\e05e";
}
.#{$icomoon-prefix}upload:before {
	content: "\e05f";
}
.#{$icomoon-prefix}disk:before {
	content: "\e060";
}
.#{$icomoon-prefix}storage:before {
	content: "\e061";
}
.#{$icomoon-prefix}undo:before {
	content: "\e062";
}
.#{$icomoon-prefix}redo:before {
	content: "\e063";
}
.#{$icomoon-prefix}flip:before {
	content: "\e064";
}
.#{$icomoon-prefix}flip-2:before {
	content: "\e065";
}
.#{$icomoon-prefix}undo-2:before {
	content: "\e066";
}
.#{$icomoon-prefix}redo-2:before {
	content: "\e067";
}
.#{$icomoon-prefix}forward:before {
	content: "\e068";
}
.#{$icomoon-prefix}reply:before {
	content: "\e069";
}
.#{$icomoon-prefix}bubble:before {
	content: "\e06a";
}
.#{$icomoon-prefix}bubbles:before {
	content: "\e06b";
}
.#{$icomoon-prefix}bubbles-2:before {
	content: "\e06c";
}
.#{$icomoon-prefix}bubble-2:before {
	content: "\e06d";
}
.#{$icomoon-prefix}bubbles-3:before {
	content: "\e06e";
}
.#{$icomoon-prefix}bubbles-4:before {
	content: "\e06f";
}
.#{$icomoon-prefix}user:before {
	content: "\e070";
}
.#{$icomoon-prefix}users:before {
	content: "\e071";
}
.#{$icomoon-prefix}user-2:before {
	content: "\e072";
}
.#{$icomoon-prefix}users-2:before {
	content: "\e073";
}
.#{$icomoon-prefix}user-3:before {
	content: "\e074";
}
.#{$icomoon-prefix}user-4:before {
	content: "\e075";
}
.#{$icomoon-prefix}quotes-left:before {
	content: "\e076";
}
.#{$icomoon-prefix}busy:before {
	content: "\e077";
}
.#{$icomoon-prefix}spinner:before {
	content: "\e078";
}
.#{$icomoon-prefix}spinner-2:before {
	content: "\e079";
}
.#{$icomoon-prefix}spinner-3:before {
	content: "\e07a";
}
.#{$icomoon-prefix}spinner-4:before {
	content: "\e07b";
}
.#{$icomoon-prefix}spinner-5:before {
	content: "\e07c";
}
.#{$icomoon-prefix}spinner-6:before {
	content: "\e07d";
}
.#{$icomoon-prefix}binoculars:before {
	content: "\e07e";
}
.#{$icomoon-prefix}search:before {
	content: "\e07f";
}
.#{$icomoon-prefix}zoom-in:before {
	content: "\e080";
}
.#{$icomoon-prefix}zoom-out:before {
	content: "\e081";
}
.#{$icomoon-prefix}expand:before {
	content: "\e082";
}
.#{$icomoon-prefix}contract:before {
	content: "\e083";
}
.#{$icomoon-prefix}expand-2:before {
	content: "\e084";
}
.#{$icomoon-prefix}contract-2:before {
	content: "\e085";
}
.#{$icomoon-prefix}key:before {
	content: "\e086";
}
.#{$icomoon-prefix}key-2:before {
	content: "\e087";
}
.#{$icomoon-prefix}lock:before {
	content: "\e088";
}
.#{$icomoon-prefix}lock-2:before {
	content: "\e089";
}
.#{$icomoon-prefix}unlocked:before {
	content: "\e08a";
}
.#{$icomoon-prefix}wrench:before {
	content: "\e08b";
}
.#{$icomoon-prefix}settings:before {
	content: "\e08c";
}
.#{$icomoon-prefix}equalizer:before {
	content: "\e08d";
}
.#{$icomoon-prefix}cog:before {
	content: "\e08e";
}
.#{$icomoon-prefix}cogs:before {
	content: "\e08f";
}
.#{$icomoon-prefix}cog-2:before {
	content: "\e090";
}
.#{$icomoon-prefix}hammer:before {
	content: "\e091";
}
.#{$icomoon-prefix}wand:before {
	content: "\e092";
}
.#{$icomoon-prefix}aid:before {
	content: "\e093";
}
.#{$icomoon-prefix}bug:before {
	content: "\e094";
}
.#{$icomoon-prefix}pie:before {
	content: "\e095";
}
.#{$icomoon-prefix}stats:before {
	content: "\e096";
}
.#{$icomoon-prefix}bars:before {
	content: "\e097";
}
.#{$icomoon-prefix}bars-2:before {
	content: "\e098";
}
.#{$icomoon-prefix}gift:before {
	content: "\e099";
}
.#{$icomoon-prefix}trophy:before {
	content: "\e09a";
}
.#{$icomoon-prefix}glass:before {
	content: "\e09b";
}
.#{$icomoon-prefix}mug:before {
	content: "\e09c";
}
.#{$icomoon-prefix}food:before {
	content: "\e09d";
}
.#{$icomoon-prefix}leaf:before {
	content: "\e09e";
}
.#{$icomoon-prefix}rocket:before {
	content: "\e09f";
}
.#{$icomoon-prefix}meter:before {
	content: "\e0a0";
}
.#{$icomoon-prefix}meter2:before {
	content: "\e0a1";
}
.#{$icomoon-prefix}dashboard:before {
	content: "\e0a2";
}
.#{$icomoon-prefix}hammer-2:before {
	content: "\e0a3";
}
.#{$icomoon-prefix}fire:before {
	content: "\e0a4";
}
.#{$icomoon-prefix}lab:before {
	content: "\e0a5";
}
.#{$icomoon-prefix}magnet:before {
	content: "\e0a6";
}
.#{$icomoon-prefix}remove:before {
	content: "\e0a7";
}
.#{$icomoon-prefix}remove-2:before {
	content: "\e0a8";
}
.#{$icomoon-prefix}briefcase:before {
	content: "\e0a9";
}
.#{$icomoon-prefix}airplane:before {
	content: "\e0aa";
}
.#{$icomoon-prefix}truck:before {
	content: "\e0ab";
}
.#{$icomoon-prefix}road:before {
	content: "\e0ac";
}
.#{$icomoon-prefix}accessibility:before {
	content: "\e0ad";
}
.#{$icomoon-prefix}target:before {
	content: "\e0ae";
}
.#{$icomoon-prefix}shield:before {
	content: "\e0af";
}
.#{$icomoon-prefix}lightning:before {
	content: "\e0b0";
}
.#{$icomoon-prefix}switch:before {
	content: "\e0b1";
}
.#{$icomoon-prefix}power-cord:before {
	content: "\e0b2";
}
.#{$icomoon-prefix}signup:before {
	content: "\e0b3";
}
.#{$icomoon-prefix}list:before {
	content: "\e0b4";
}
.#{$icomoon-prefix}list-2:before {
	content: "\e0b5";
}
.#{$icomoon-prefix}numbered-list:before {
	content: "\e0b6";
}
.#{$icomoon-prefix}menu:before {
	content: "\e0b7";
}
.#{$icomoon-prefix}menu-2:before {
	content: "\e0b8";
}
.#{$icomoon-prefix}tree:before {
	content: "\e0b9";
}
.#{$icomoon-prefix}cloud:before {
	content: "\e0ba";
}
.#{$icomoon-prefix}cloud-download:before {
	content: "\e0bb";
}
.#{$icomoon-prefix}cloud-upload:before {
	content: "\e0bc";
}
.#{$icomoon-prefix}download-2:before {
	content: "\e0bd";
}
.#{$icomoon-prefix}upload-2:before {
	content: "\e0be";
}
.#{$icomoon-prefix}download-3:before {
	content: "\e0bf";
}
.#{$icomoon-prefix}upload-3:before {
	content: "\e0c0";
}
.#{$icomoon-prefix}globe:before {
	content: "\e0c1";
}
.#{$icomoon-prefix}earth:before {
	content: "\e0c2";
}
.#{$icomoon-prefix}link:before {
	content: "\e0c3";
}
.#{$icomoon-prefix}flag:before {
	content: "\e0c4";
}
.#{$icomoon-prefix}attachment:before {
	content: "\e0c5";
}
.#{$icomoon-prefix}eye:before {
	content: "\e0c6";
}
.#{$icomoon-prefix}eye-blocked:before {
	content: "\e0c7";
}
.#{$icomoon-prefix}eye-2:before {
	content: "\e0c8";
}
.#{$icomoon-prefix}bookmark:before {
	content: "\e0c9";
}
.#{$icomoon-prefix}bookmarks:before {
	content: "\e0ca";
}
.#{$icomoon-prefix}brightness-medium:before {
	content: "\e0cb";
}
.#{$icomoon-prefix}brightness-contrast:before {
	content: "\e0cc";
}
.#{$icomoon-prefix}contrast:before {
	content: "\e0cd";
}
.#{$icomoon-prefix}star:before {
	content: "\e0ce";
}
.#{$icomoon-prefix}star-2:before {
	content: "\e0cf";
}
.#{$icomoon-prefix}star-3:before {
	content: "\e0d0";
}
.#{$icomoon-prefix}heart:before {
	content: "\e0d1";
}
.#{$icomoon-prefix}heart-2:before {
	content: "\e0d2";
}
.#{$icomoon-prefix}heart-broken:before {
	content: "\e0d3";
}
.#{$icomoon-prefix}thumbs-up:before {
	content: "\e0d4";
}
.#{$icomoon-prefix}thumbs-up-2:before {
	content: "\e0d5";
}
.#{$icomoon-prefix}happy:before {
	content: "\e0d6";
}
.#{$icomoon-prefix}happy-2:before {
	content: "\e0d7";
}
.#{$icomoon-prefix}smiley:before {
	content: "\e0d8";
}
.#{$icomoon-prefix}smiley-2:before {
	content: "\e0d9";
}
.#{$icomoon-prefix}tongue:before {
	content: "\e0da";
}
.#{$icomoon-prefix}tongue-2:before {
	content: "\e0db";
}
.#{$icomoon-prefix}sad:before {
	content: "\e0dc";
}
.#{$icomoon-prefix}sad-2:before {
	content: "\e0dd";
}
.#{$icomoon-prefix}wink:before {
	content: "\e0de";
}
.#{$icomoon-prefix}wink-2:before {
	content: "\e0df";
}
.#{$icomoon-prefix}grin:before {
	content: "\e0e0";
}
.#{$icomoon-prefix}grin-2:before {
	content: "\e0e1";
}
.#{$icomoon-prefix}cool:before {
	content: "\e0e2";
}
.#{$icomoon-prefix}cool-2:before {
	content: "\e0e3";
}
.#{$icomoon-prefix}angry:before {
	content: "\e0e4";
}
.#{$icomoon-prefix}angry-2:before {
	content: "\e0e5";
}
.#{$icomoon-prefix}evil:before {
	content: "\e0e6";
}
.#{$icomoon-prefix}evil-2:before {
	content: "\e0e7";
}
.#{$icomoon-prefix}shocked:before {
	content: "\e0e8";
}
.#{$icomoon-prefix}shocked-2:before {
	content: "\e0e9";
}
.#{$icomoon-prefix}confused:before {
	content: "\e0ea";
}
.#{$icomoon-prefix}confused-2:before {
	content: "\e0eb";
}
.#{$icomoon-prefix}neutral:before {
	content: "\e0ec";
}
.#{$icomoon-prefix}neutral-2:before {
	content: "\e0ed";
}
.#{$icomoon-prefix}wondering:before {
	content: "\e0ee";
}
.#{$icomoon-prefix}wondering-2:before {
	content: "\e0ef";
}
.#{$icomoon-prefix}point-up:before {
	content: "\e0f0";
}
.#{$icomoon-prefix}point-right:before {
	content: "\e0f1";
}
.#{$icomoon-prefix}point-down:before {
	content: "\e0f2";
}
.#{$icomoon-prefix}point-left:before {
	content: "\e0f3";
}
.#{$icomoon-prefix}warning:before {
	content: "\e0f4";
}
.#{$icomoon-prefix}notification:before {
	content: "\e0f5";
}
.#{$icomoon-prefix}question:before {
	content: "\e0f6";
}
.#{$icomoon-prefix}info:before {
	content: "\e0f7";
}
.#{$icomoon-prefix}info-2:before {
	content: "\e0f8";
}
.#{$icomoon-prefix}blocked:before {
	content: "\e0f9";
}
.#{$icomoon-prefix}cancel-circle:before {
	content: "\e0fa";
}
.#{$icomoon-prefix}checkmark-circle:before {
	content: "\e0fb";
}
.#{$icomoon-prefix}spam:before {
	content: "\e0fc";
}
.#{$icomoon-prefix}close:before {
	content: "\e0fd";
}
.#{$icomoon-prefix}checkmark:before {
	content: "\e0fe";
}
.#{$icomoon-prefix}checkmark-2:before {
	content: "\e0ff";
}
.#{$icomoon-prefix}spell-check:before {
	content: "\e100";
}
.#{$icomoon-prefix}minus:before {
	content: "\e101";
}
.#{$icomoon-prefix}plus:before {
	content: "\e102";
}
.#{$icomoon-prefix}enter:before {
	content: "\e103";
}
.#{$icomoon-prefix}exit:before {
	content: "\e104";
}
.#{$icomoon-prefix}play-2:before {
	content: "\e105";
}
.#{$icomoon-prefix}pause:before {
	content: "\e106";
}
.#{$icomoon-prefix}stop:before {
	content: "\e107";
}
.#{$icomoon-prefix}backward:before {
	content: "\e108";
}
.#{$icomoon-prefix}forward-2:before {
	content: "\e109";
}
.#{$icomoon-prefix}play-3:before {
	content: "\e10a";
}
.#{$icomoon-prefix}pause-2:before {
	content: "\e10b";
}
.#{$icomoon-prefix}stop-2:before {
	content: "\e10c";
}
.#{$icomoon-prefix}backward-2:before {
	content: "\e10d";
}
.#{$icomoon-prefix}forward-3:before {
	content: "\e10e";
}
.#{$icomoon-prefix}first:before {
	content: "\e10f";
}
.#{$icomoon-prefix}last:before {
	content: "\e110";
}
.#{$icomoon-prefix}previous:before {
	content: "\e111";
}
.#{$icomoon-prefix}next:before {
	content: "\e112";
}
.#{$icomoon-prefix}eject:before {
	content: "\e113";
}
.#{$icomoon-prefix}volume-high:before {
	content: "\e114";
}
.#{$icomoon-prefix}volume-medium:before {
	content: "\e115";
}
.#{$icomoon-prefix}volume-low:before {
	content: "\e116";
}
.#{$icomoon-prefix}volume-mute:before {
	content: "\e117";
}
.#{$icomoon-prefix}volume-mute-2:before {
	content: "\e118";
}
.#{$icomoon-prefix}volume-increase:before {
	content: "\e119";
}
.#{$icomoon-prefix}volume-decrease:before {
	content: "\e11a";
}
.#{$icomoon-prefix}loop:before {
	content: "\e11b";
}
.#{$icomoon-prefix}loop-2:before {
	content: "\e11c";
}
.#{$icomoon-prefix}loop-3:before {
	content: "\e11d";
}
.#{$icomoon-prefix}shuffle:before {
	content: "\e11e";
}
.#{$icomoon-prefix}arrow-up-left:before {
	content: "\e11f";
}
.#{$icomoon-prefix}arrow-up:before {
	content: "\e120";
}
.#{$icomoon-prefix}arrow-up-right:before {
	content: "\e121";
}
.#{$icomoon-prefix}arrow-right:before {
	content: "\e122";
}
.#{$icomoon-prefix}arrow-down-right:before {
	content: "\e123";
}
.#{$icomoon-prefix}arrow-down:before {
	content: "\e124";
}
.#{$icomoon-prefix}arrow-down-left:before {
	content: "\e125";
}
.#{$icomoon-prefix}arrow-left:before {
	content: "\e126";
}
.#{$icomoon-prefix}arrow-up-left-2:before {
	content: "\e127";
}
.#{$icomoon-prefix}arrow-up-2:before {
	content: "\e128";
}
.#{$icomoon-prefix}arrow-up-right-2:before {
	content: "\e129";
}
.#{$icomoon-prefix}arrow-right-2:before {
	content: "\e12a";
}
.#{$icomoon-prefix}arrow-down-right-2:before {
	content: "\e12b";
}
.#{$icomoon-prefix}arrow-down-2:before {
	content: "\e12c";
}
.#{$icomoon-prefix}arrow-down-left-2:before {
	content: "\e12d";
}
.#{$icomoon-prefix}arrow-left-2:before {
	content: "\e12e";
}
.#{$icomoon-prefix}arrow-up-left-3:before {
	content: "\e12f";
}
.#{$icomoon-prefix}arrow-up-3:before {
	content: "\e130";
}
.#{$icomoon-prefix}arrow-up-right-3:before {
	content: "\e131";
}
.#{$icomoon-prefix}arrow-right-3:before {
	content: "\e132";
}
.#{$icomoon-prefix}arrow-down-right-3:before {
	content: "\e133";
}
.#{$icomoon-prefix}arrow-down-3:before {
	content: "\e134";
}
.#{$icomoon-prefix}arrow-down-left-3:before {
	content: "\e135";
}
.#{$icomoon-prefix}arrow-left-3:before {
	content: "\e136";
}
.#{$icomoon-prefix}tab:before {
	content: "\e137";
}
.#{$icomoon-prefix}checkbox-checked:before {
	content: "\e138";
}
.#{$icomoon-prefix}checkbox-unchecked:before {
	content: "\e139";
}
.#{$icomoon-prefix}checkbox-partial:before {
	content: "\e13a";
}
.#{$icomoon-prefix}radio-checked:before {
	content: "\e13b";
}
.#{$icomoon-prefix}radio-unchecked:before {
	content: "\e13c";
}
.#{$icomoon-prefix}crop:before {
	content: "\e13d";
}
.#{$icomoon-prefix}scissors:before {
	content: "\e13e";
}
.#{$icomoon-prefix}filter:before {
	content: "\e13f";
}
.#{$icomoon-prefix}filter-2:before {
	content: "\e140";
}
.#{$icomoon-prefix}font:before {
	content: "\e141";
}
.#{$icomoon-prefix}text-height:before {
	content: "\e142";
}
.#{$icomoon-prefix}text-width:before {
	content: "\e143";
}
.#{$icomoon-prefix}bold:before {
	content: "\e144";
}
.#{$icomoon-prefix}underline:before {
	content: "\e145";
}
.#{$icomoon-prefix}italic:before {
	content: "\e146";
}
.#{$icomoon-prefix}strikethrough:before {
	content: "\e147";
}
.#{$icomoon-prefix}omega:before {
	content: "\e148";
}
.#{$icomoon-prefix}sigma:before {
	content: "\e149";
}
.#{$icomoon-prefix}table:before {
	content: "\e14a";
}
.#{$icomoon-prefix}table-2:before {
	content: "\e14b";
}
.#{$icomoon-prefix}insert-template:before {
	content: "\e14c";
}
.#{$icomoon-prefix}pilcrow:before {
	content: "\e14d";
}
.#{$icomoon-prefix}left-to-right:before {
	content: "\e14e";
}
.#{$icomoon-prefix}right-to-left:before {
	content: "\e14f";
}
.#{$icomoon-prefix}paragraph-left:before {
	content: "\e150";
}
.#{$icomoon-prefix}paragraph-center:before {
	content: "\e151";
}
.#{$icomoon-prefix}paragraph-right:before {
	content: "\e152";
}
.#{$icomoon-prefix}paragraph-justify:before {
	content: "\e153";
}
.#{$icomoon-prefix}paragraph-left-2:before {
	content: "\e154";
}
.#{$icomoon-prefix}paragraph-center-2:before {
	content: "\e155";
}
.#{$icomoon-prefix}paragraph-right-2:before {
	content: "\e156";
}
.#{$icomoon-prefix}paragraph-justify-2:before {
	content: "\e157";
}
.#{$icomoon-prefix}indent-increase:before {
	content: "\e158";
}
.#{$icomoon-prefix}indent-decrease:before {
	content: "\e159";
}
.#{$icomoon-prefix}new-tab:before {
	content: "\e15a";
}
.#{$icomoon-prefix}embed:before {
	content: "\e15b";
}
.#{$icomoon-prefix}code:before {
	content: "\e15c";
}
.#{$icomoon-prefix}console:before {
	content: "\e15d";
}
.#{$icomoon-prefix}share:before {
	content: "\e15e";
}
.#{$icomoon-prefix}mail:before {
	content: "\e15f";
}
.#{$icomoon-prefix}mail-2:before {
	content: "\e160";
}
.#{$icomoon-prefix}mail-3:before {
	content: "\e161";
}
.#{$icomoon-prefix}mail-4:before {
	content: "\e162";
}
.#{$icomoon-prefix}google:before {
	content: "\e163";
}
.#{$icomoon-prefix}google-plus:before {
	content: "\e164";
}
.#{$icomoon-prefix}google-plus-2:before {
	content: "\e165";
}
.#{$icomoon-prefix}google-plus-3:before {
	content: "\e166";
}
.#{$icomoon-prefix}google-plus-4:before {
	content: "\e167";
}
.#{$icomoon-prefix}google-drive:before {
	content: "\e168";
}
.#{$icomoon-prefix}facebook:before {
	content: "\e169";
}
.#{$icomoon-prefix}facebook-2:before {
	content: "\e16a";
}
.#{$icomoon-prefix}facebook-3:before {
	content: "\e16b";
}
.#{$icomoon-prefix}instagram:before {
	content: "\e16c";
}
.#{$icomoon-prefix}twitter:before {
	content: "\e16d";
}
.#{$icomoon-prefix}twitter-2:before {
	content: "\e16e";
}
.#{$icomoon-prefix}twitter-3:before {
	content: "\e16f";
}
.#{$icomoon-prefix}feed-2:before {
	content: "\e170";
}
.#{$icomoon-prefix}feed-3:before {
	content: "\e171";
}
.#{$icomoon-prefix}feed-4:before {
	content: "\e172";
}
.#{$icomoon-prefix}youtube:before {
	content: "\e173";
}
.#{$icomoon-prefix}youtube-2:before {
	content: "\e174";
}
.#{$icomoon-prefix}vimeo:before {
	content: "\e175";
}
.#{$icomoon-prefix}vimeo2:before {
	content: "\e176";
}
.#{$icomoon-prefix}vimeo-2:before {
	content: "\e177";
}
.#{$icomoon-prefix}lanyrd:before {
	content: "\e178";
}
.#{$icomoon-prefix}flickr:before {
	content: "\e179";
}
.#{$icomoon-prefix}flickr-2:before {
	content: "\e17a";
}
.#{$icomoon-prefix}flickr-3:before {
	content: "\e17b";
}
.#{$icomoon-prefix}flickr-4:before {
	content: "\e17c";
}
.#{$icomoon-prefix}picassa:before {
	content: "\e17d";
}
.#{$icomoon-prefix}picassa-2:before {
	content: "\e17e";
}
.#{$icomoon-prefix}dribbble:before {
	content: "\e17f";
}
.#{$icomoon-prefix}dribbble-2:before {
	content: "\e180";
}
.#{$icomoon-prefix}dribbble-3:before {
	content: "\e181";
}
.#{$icomoon-prefix}forrst:before {
	content: "\e182";
}
.#{$icomoon-prefix}forrst-2:before {
	content: "\e183";
}
.#{$icomoon-prefix}deviantart:before {
	content: "\e184";
}
.#{$icomoon-prefix}deviantart-2:before {
	content: "\e185";
}
.#{$icomoon-prefix}steam:before {
	content: "\e186";
}
.#{$icomoon-prefix}steam-2:before {
	content: "\e187";
}
.#{$icomoon-prefix}github:before {
	content: "\e188";
}
.#{$icomoon-prefix}github-2:before {
	content: "\e189";
}
.#{$icomoon-prefix}github-3:before {
	content: "\e18a";
}
.#{$icomoon-prefix}github-4:before {
	content: "\e18b";
}
.#{$icomoon-prefix}github-5:before {
	content: "\e18c";
}
.#{$icomoon-prefix}wordpress:before {
	content: "\e18d";
}
.#{$icomoon-prefix}wordpress-2:before {
	content: "\e18e";
}
.#{$icomoon-prefix}joomla:before {
	content: "\e18f";
}
.#{$icomoon-prefix}blogger:before {
	content: "\e190";
}
.#{$icomoon-prefix}blogger-2:before {
	content: "\e191";
}
.#{$icomoon-prefix}tumblr:before {
	content: "\e192";
}
.#{$icomoon-prefix}tumblr-2:before {
	content: "\e193";
}
.#{$icomoon-prefix}yahoo:before {
	content: "\e194";
}
.#{$icomoon-prefix}tux:before {
	content: "\e195";
}
.#{$icomoon-prefix}apple:before {
	content: "\e196";
}
.#{$icomoon-prefix}finder:before {
	content: "\e197";
}
.#{$icomoon-prefix}android:before {
	content: "\e198";
}
.#{$icomoon-prefix}windows:before {
	content: "\e199";
}
.#{$icomoon-prefix}windows8:before {
	content: "\e19a";
}
.#{$icomoon-prefix}soundcloud:before {
	content: "\e19b";
}
.#{$icomoon-prefix}soundcloud-2:before {
	content: "\e19c";
}
.#{$icomoon-prefix}skype:before {
	content: "\e19d";
}
.#{$icomoon-prefix}reddit:before {
	content: "\e19e";
}
.#{$icomoon-prefix}linkedin:before {
	content: "\e19f";
}
.#{$icomoon-prefix}lastfm:before {
	content: "\e1a0";
}
.#{$icomoon-prefix}lastfm-2:before {
	content: "\e1a1";
}
.#{$icomoon-prefix}delicious:before {
	content: "\e1a2";
}
.#{$icomoon-prefix}stumbleupon:before {
	content: "\e1a3";
}
.#{$icomoon-prefix}stumbleupon-2:before {
	content: "\e1a4";
}
.#{$icomoon-prefix}stackoverflow:before {
	content: "\e1a5";
}
.#{$icomoon-prefix}pinterest:before {
	content: "\e1a6";
}
.#{$icomoon-prefix}pinterest-2:before {
	content: "\e1a7";
}
.#{$icomoon-prefix}xing:before {
	content: "\e1a8";
}
.#{$icomoon-prefix}xing-2:before {
	content: "\e1a9";
}
.#{$icomoon-prefix}flattr:before {
	content: "\e1aa";
}
.#{$icomoon-prefix}foursquare:before {
	content: "\e1ab";
}
.#{$icomoon-prefix}foursquare-2:before {
	content: "\e1ac";
}
.#{$icomoon-prefix}paypal:before {
	content: "\e1ad";
}
.#{$icomoon-prefix}paypal-2:before {
	content: "\e1ae";
}
.#{$icomoon-prefix}paypal-3:before {
	content: "\e1af";
}
.#{$icomoon-prefix}yelp:before {
	content: "\e1b0";
}
.#{$icomoon-prefix}libreoffice:before {
	content: "\e1b1";
}
.#{$icomoon-prefix}file-pdf:before {
	content: "\e1b2";
}
.#{$icomoon-prefix}file-openoffice:before {
	content: "\e1b3";
}
.#{$icomoon-prefix}file-word:before {
	content: "\e1b4";
}
.#{$icomoon-prefix}file-excel:before {
	content: "\e1b5";
}
.#{$icomoon-prefix}file-zip:before {
	content: "\e1b6";
}
.#{$icomoon-prefix}file-powerpoint:before {
	content: "\e1b7";
}
.#{$icomoon-prefix}file-xml:before {
	content: "\e1b8";
}
.#{$icomoon-prefix}file-css:before {
	content: "\e1b9";
}
.#{$icomoon-prefix}html5:before {
	content: "\e1ba";
}
.#{$icomoon-prefix}html5-2:before {
	content: "\e1bb";
}
.#{$icomoon-prefix}css3:before {
	content: "\e1bc";
}
.#{$icomoon-prefix}chrome:before {
	content: "\e1bd";
}
.#{$icomoon-prefix}firefox:before {
	content: "\e1be";
}
.#{$icomoon-prefix}IE:before {
	content: "\e1bf";
}
.#{$icomoon-prefix}opera:before {
	content: "\e1c0";
}
.#{$icomoon-prefix}safari:before {
	content: "\e1c1";
}
.#{$icomoon-prefix}IcoMoon:before {
	content: "\e1c2";
}
