/* mopidy-mobile uses 64x64 px thumbnails */
$item-thumbnail-width:            64px;
$item-thumbnail-height:           64px;

/* give playback controls a little more breathing space */
$bar-footer-height:               48px;

/* increase width of popup for German translation */
$popup-width:                     280px;

/* path to ionicons font files, relative to www/css */
$ionicons-font-path: "../lib/ionic/fonts" !default;

/* include all of Ionic */
@import "www/lib/ionic/scss/ionic";

/* include default variables */
@import "variables";

/* FIXME: https://github.com/driftyco/ionic/issues/2932 */
.bar-subfooter.has-tabs {
    bottom: $tabs-height + $bar-footer-height;
}
.has-subfooter.has-tabs {
    bottom: $tabs-height + $bar-footer-height + $bar-subfooter-height;
}

/* FIXME: ionic bug? */
.bar .button.button-small.button-icon:before {
    font-size: $button-icon-size;
}

/* FIXME: Ionic bug? */
.item-button-right > .mopidy-mobile-button-icon {
    /*height: 100% !important;*/
    left: auto !important;
    padding: 0 !important;
    right: 3px !important;
}
.item-button-right .mopidy-mobile-button-icon:before {
    display: block;
    width: 32px;
    text-align: center;
}

/* make ion-android-more-vertical as wide as other buttons */
.bar-stable .button {
    min-width: 34px;
}

/* clickable anchors and buttons in toggle labels */
.item-toggle a {
    pointer-events: initial !important;
}
.item-toggle button {
    pointer-events: initial !important;
}

/* anchors as items */
a.item {
  color: $button-default-text;
}

/* standard text links */
h1, h2, h3, h4, h5, h6, p {
    a {
        color: $base-color;
    }
}

/* "i" is for icons */
i {
    @extend .icon
}

/* wider popup if generated from template */
.popup-container.mopidy-mobile-popup .popup {
    width: 80% !important;
}

/* custom icon classes */
.mopidy-mobile-icon-playback {
    @extend .#{$mopidy-mobile-icon-playback};
}
.mopidy-mobile-icon-tracklist {
    @extend .#{$mopidy-mobile-icon-tracklist};
}
.mopidy-mobile-icon-library {
    @extend .#{$mopidy-mobile-icon-library};
}
.mopidy-mobile-icon-playlists {
    @extend .#{$mopidy-mobile-icon-playlists};
}
.mopidy-mobile-icon-settings {
    @extend .#{$mopidy-mobile-icon-settings};
}

.mopidy-mobile-icon-create {
    @extend .#{$mopidy-mobile-icon-create};
}
.mopidy-mobile-icon-check {
    @extend .#{$mopidy-mobile-icon-check};
}
.mopidy-mobile-icon-close {
    @extend .#{$mopidy-mobile-icon-close};
}
.mopidy-mobile-icon-edit {
    @extend .#{$mopidy-mobile-icon-edit};
}
.mopidy-mobile-icon-link {
    @extend .#{$mopidy-mobile-icon-link};
}
.mopidy-mobile-icon-menu {
    @extend .#{$mopidy-mobile-icon-menu};
}
.mopidy-mobile-icon-random {
    @extend .#{$mopidy-mobile-icon-random};
}
.mopidy-mobile-icon-repeat {
    @extend .#{$mopidy-mobile-icon-repeat};
}
.mopidy-mobile-icon-repeat1 {
    @extend .#{$mopidy-mobile-icon-repeat1};
}
.mopidy-mobile-icon-search {
    @extend .#{$mopidy-mobile-icon-search};
}

.mopidy-mobile-icon-album {
    @extend .#{$mopidy-mobile-icon-album};
}
.mopidy-mobile-icon-artist {
    @extend .#{$mopidy-mobile-icon-artist};
}
.mopidy-mobile-icon-directory {
    @extend .#{$mopidy-mobile-icon-directory};
}
.mopidy-mobile-icon-track {
    @extend .#{$mopidy-mobile-icon-track};
}

.mopidy-mobile-icon-play {
    @extend .#{$mopidy-mobile-icon-play};
}
.mopidy-mobile-icon-pause {
    @extend .#{$mopidy-mobile-icon-pause};
}
.mopidy-mobile-icon-stop {
    @extend .#{$mopidy-mobile-icon-stop};
}
.mopidy-mobile-icon-next {
    @extend .#{$mopidy-mobile-icon-next};
}
.mopidy-mobile-icon-previous {
    @extend .#{$mopidy-mobile-icon-previous};
}

.mopidy-mobile-icon-volume-low {
    @extend .#{$mopidy-mobile-icon-volume-low};
}
.mopidy-mobile-icon-volume-high {
    @extend .#{$mopidy-mobile-icon-volume-high};
}
.mopidy-mobile-icon-mute {
    @extend .#{$mopidy-mobile-icon-mute};
}

.mopidy-mobile-icon-info {
    @extend .#{$mopidy-mobile-icon-info};
}
.mopidy-mobile-icon-warn {
    @extend .#{$mopidy-mobile-icon-warn};
}
.mopidy-mobile-icon-error {
    @extend .#{$mopidy-mobile-icon-error};
}
.mopidy-mobile-icon-debug {
    @extend .#{$mopidy-mobile-icon-debug};
}

/* custom button styles */
.mopidy-mobile-button-icon {
    @extend .button;
    @extend .button-clear;
    @extend .button-icon;
    @extend .icon;
}

.mopidy-mobile-button-control {
    @extend .button;
    @extend .button-icon;
    @extend .icon;
}

/* thumbnail default backgrounds */
.mopidy-mobile-thumbnail-artist {
    width: $item-thumbnail-width;
    height: $item-thumbnail-height;
    background: $mopidy-mobile-thumbnail-artist-bg;
}
.mopidy-mobile-thumbnail-album {
    width: $item-thumbnail-width;
    height: $item-thumbnail-height;
    background: $mopidy-mobile-thumbnail-album-bg;
}
.mopidy-mobile-thumbnail-track {
    width: $item-thumbnail-width;
    height: $item-thumbnail-height;
    background: $mopidy-mobile-thumbnail-track-bg;
}

/* popover menus */
.mopidy-mobile-menu {
    height: auto !important;
    button.item {
        @extend .button-full;
        text-align: left !important;
    }
    button[disabled] {
        color: #ccc !important;
    }
    ion-content {
        position: relative !important;
    }
}

/* playback controls */
.mopidy-mobile-playback {
    text-align: center;
    h2, h3, h4 {
        margin-top: 0;
    }
    h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    h3 {
        font-size: 14px;
        font-weight: inherit;
        margin-bottom: 4px;
    }
    h4 {
        font-size: 12px;
        font-weight: inherit;
    }
    img {
        height: 75%;
        width: 75%;
    }
    ion-footer-bar {
        background-image: none;
        border: 0;
        padding: 0 5px;
        vertical-align: top;
    }
    .button-bar {
        border: 0;
        margin-bottom: 6px;
        vertical-align: top;
        button {
            border: 0;
            vertical-align: top;
        }
    }
    .range {
        margin: 0;
        padding: 0;
        width: 100%;
        input {
            margin-top: 0;
        }
    }
}

/* logo/image styles */
a img.mopidy-mobile-image {
    height: 32px;
    vertical-align: text-bottom;
}

img.mopidy-mobile-logo {
    float: left;
    margin-right:10px;
}
