/* Mopidy-Mobile uses 64x64 px thumbnails */
$item-thumbnail-width:            64px;
$item-thumbnail-height:           64px;

/* Increase width of popup for German translation */
$popup-width:                     280px;

/* The path to the ionicons font files, relative to the built CSS in www/css */
$ionicons-font-path: "../lib/ionic/fonts" !default;

/* Include all of Ionic */
@import "www/lib/ionic/scss/ionic";

/* Include default variables */
@import "variables";

/* FIXME: https://github.com/driftyco/ionic/issues/2932 */
.bar-subfooter.has-tabs {
    bottom: $tabs-height + $bar-footer-height;
}
.has-subfooter.has-tabs {
    bottom: $tabs-height + $bar-footer-height + $bar-subfooter-height;
}

/* FIXME: ionic bug? */
.bar .button.button-small.button-icon:before {
    font-size: $button-icon-size;
}

/* FIXME: buttons and checkboxes are mis-aligned in android popovers */
.platform-android .popover .item {
    margin: 0 !important;
}

/* Style up your nav-bar */
.nav-bar-title em {
    font-style: italic;
}

/* this is for ion-android-more-vertical */
.bar-stable .button {
    min-width: 32px;
}

/* TODO: $link-color? */
a {
    color: $base-color;
}

/* clickable anchors in toggle labels */
.item-toggle a {
    pointer-events: initial !important;
}

/* "i" is for icons */
i {
    @extend .icon
}

.mopidy-mobile-icon-playback {
    @extend .#{$mopidy-mobile-icon-playback};
}
.mopidy-mobile-icon-tracklist {
    @extend .#{$mopidy-mobile-icon-tracklist};
}
.mopidy-mobile-icon-library {
    @extend .#{$mopidy-mobile-icon-library};
}
.mopidy-mobile-icon-playlists {
    @extend .#{$mopidy-mobile-icon-playlists};
}
.mopidy-mobile-icon-settings {
    @extend .#{$mopidy-mobile-icon-settings};
}

.mopidy-mobile-icon-create {
    @extend .#{$mopidy-mobile-icon-create};
}
.mopidy-mobile-icon-check {
    @extend .#{$mopidy-mobile-icon-check};
}
.mopidy-mobile-icon-edit {
    @extend .#{$mopidy-mobile-icon-edit};
}
.mopidy-mobile-icon-link {
    @extend .#{$mopidy-mobile-icon-link};
}
.mopidy-mobile-icon-menu {
    @extend .#{$mopidy-mobile-icon-menu};
}
.mopidy-mobile-icon-random {
    @extend .#{$mopidy-mobile-icon-random};
}
.mopidy-mobile-icon-repeat {
    @extend .#{$mopidy-mobile-icon-repeat};
}
.mopidy-mobile-icon-search {
    @extend .#{$mopidy-mobile-icon-search};
}

.mopidy-mobile-icon-album {
    @extend .#{$mopidy-mobile-icon-album};
}
.mopidy-mobile-icon-artist {
    @extend .#{$mopidy-mobile-icon-artist};
}
.mopidy-mobile-icon-directory {
    @extend .#{$mopidy-mobile-icon-directory};
}
.mopidy-mobile-icon-track {
    @extend .#{$mopidy-mobile-icon-track};
}

.mopidy-mobile-icon-play {
    @extend .#{$mopidy-mobile-icon-play};
}
.mopidy-mobile-icon-pause {
    @extend .#{$mopidy-mobile-icon-pause};
}
.mopidy-mobile-icon-stop {
    @extend .#{$mopidy-mobile-icon-stop};
}
.mopidy-mobile-icon-next {
    @extend .#{$mopidy-mobile-icon-next};
}
.mopidy-mobile-icon-previous {
    @extend .#{$mopidy-mobile-icon-previous};
}

.mopidy-mobile-icon-volume-low {
    @extend .#{$mopidy-mobile-icon-volume-low};
}
.mopidy-mobile-icon-volume-high {
    @extend .#{$mopidy-mobile-icon-volume-high};
}
.mopidy-mobile-icon-mute {
    @extend .#{$mopidy-mobile-icon-mute};
}

.mopidy-mobile-icon-info {
    @extend .#{$mopidy-mobile-icon-info};
}
.mopidy-mobile-icon-warn {
    @extend .#{$mopidy-mobile-icon-warn};
}
.mopidy-mobile-icon-error {
    @extend .#{$mopidy-mobile-icon-error};
}

/* button styles */
.mopidy-mobile-button-icon {
    @extend .button;
    @extend .button-clear;
    @extend .button-icon;
    @extend .icon;
}

.mopidy-mobile-button-control {
    @extend .button;
    @extend .button-icon;
    @extend .icon;
}

/* thumbnail default backgrounds */
.mopidy-mobile-thumbnail-artist {
    &:not([src]) {
        width: $item-thumbnail-width;
        height: $item-thumbnail-height;
        background: $mopidy-mobile-thumbnail-artist-bg;
    }
}
.mopidy-mobile-thumbnail-album {
    &:not([src]) {
        width: $item-thumbnail-width;
        height: $item-thumbnail-height;
        background: $mopidy-mobile-thumbnail-album-bg;
    }
}
.mopidy-mobile-thumbnail-track {
    &:not([src]) {
        width: $item-thumbnail-width;
        height: $item-thumbnail-height;
        background: $mopidy-mobile-thumbnail-track-bg;
    }
}

/* Popover menus; see http://forum.ionicframework.com/t/popover-sizing/8251/8 */
ion-popover-view.mopidy-mobile-menu {
    height: auto !important;
    min-height: 100px !important;
    max-height: 80% !important;
}
ion-popover-view.mopidy-mobile-menu ion-content {
    position: relative !important;
}
.platform-android ion-popover-view.mopidy-mobile-menu {
    margin-top: 10px !important;
}

.mopidy-mobile-menu button.item {
    @extend .button-full;
    text-align: left !important;
}
.mopidy-mobile-menu button[disabled] {
    color: #ccc !important;  /* FIXME: configurable, transform? */
}

/* TODO: configurable? */
.mopidy-mobile-trackview {
    text-align: center;
}
.mopidy-mobile-trackview img {
    width: 75%;
    height: 75%;
}
img.mopidy-mobile-logo {
    height: 32px;
    vertical-align: text-bottom;
}
