$mopidy-mobile-icon-playback:           ion-music-note !default;
$mopidy-mobile-icon-tracklist:          ion-navicon !default;
$mopidy-mobile-icon-library:            ion-home !default;
$mopidy-mobile-icon-playlists:          ion-star !default;
$mopidy-mobile-icon-settings:           ion-gear-a !default;

$mopidy-mobile-icon-check:              ion-checkmark !default;
$mopidy-mobile-icon-close:              ion-close !default;
$mopidy-mobile-icon-create:             ion-compose !default;
$mopidy-mobile-icon-edit:               ion-edit !default;
$mopidy-mobile-icon-link:               ion-chevron-right !default;
$mopidy-mobile-icon-menu:               ion-android-more-vertical !default;
$mopidy-mobile-icon-search:             ion-search !default;

$mopidy-mobile-icon-consume:            ion-checkmark-circled !default;
$mopidy-mobile-icon-random:             ion-shuffle !default;
$mopidy-mobile-icon-repeat:             ion-loop !default;
$mopidy-mobile-icon-repeat1:            ion-refresh !default;
$mopidy-mobile-icon-single:             ion-pin !default;

$mopidy-mobile-icon-album:              ion-disc !default;
$mopidy-mobile-icon-artist:             ion-person !default;
$mopidy-mobile-icon-directory:          ion-folder !default;
$mopidy-mobile-icon-track:              ion-music-note !default;

$mopidy-mobile-icon-play:               ion-play !default;
$mopidy-mobile-icon-pause:              ion-pause !default;
$mopidy-mobile-icon-stop:               ion-stop !default;
$mopidy-mobile-icon-next:               ion-skip-forward !default;
$mopidy-mobile-icon-previous:           ion-skip-backward !default;

$mopidy-mobile-icon-mute:               ion-volume-mute !default;
$mopidy-mobile-icon-volume-low:         ion-volume-low !default;
$mopidy-mobile-icon-volume-high:        ion-volume-high !default;

$mopidy-mobile-icon-info:               ion-information-circled !default;
$mopidy-mobile-icon-warn:               ion-alert-circled !default;
$mopidy-mobile-icon-error:              ion-alert-circled !default;
$mopidy-mobile-icon-debug:              ion-bug !default;

$mopidy-mobile-thumbnail-album-bg:      none !default;
$mopidy-mobile-thumbnail-artist-bg:     none !default;
$mopidy-mobile-thumbnail-directory-bg:  none !default;
$mopidy-mobile-thumbnail-track-bg:      none !default;
