$mopidy-icon-playback:          ion-music-note !default;
$mopidy-icon-tracklist:         ion-navicon !default;
$mopidy-icon-library:           ion-home !default;
$mopidy-icon-playlists:         ion-star !default;
$mopidy-icon-settings:          ion-gear-a !default;

$mopidy-icon-play:              ion-play !default;
$mopidy-icon-pause:             ion-pause !default;
$mopidy-icon-stop:              ion-stop !default;
$mopidy-icon-next:              ion-skip-forward !default;
$mopidy-icon-previous:          ion-skip-backward !default;

$mopidy-icon-random:            ion-shuffle !default;
$mopidy-icon-repeat:            ion-loop !default;

$mopidy-icon-mute:              ion-volume-mute !default;
$mopidy-icon-volume-low:        ion-volume-low !default;
$mopidy-icon-volume-high:       ion-volume-high !default;

$mopidy-icon-album:             ion-disc !default;
$mopidy-icon-artist:            ion-person !default;
$mopidy-icon-directory:         ion-folder !default;
$mopidy-icon-track:             ion-music-note !default;

$mopidy-icon-search:            ion-search !default;
$mopidy-icon-more:              ion-more !default;
