/*

To create a Mopidy Mobile theme, override the variables in
_variables.scss and ../www/lib/ionic/scss/_variables.scss before
importing the local _style.scss.

*/

/* use ionic-sprites for default thumbnails */
$sprites-path:                          "ionic-sprites.png";
$sprites-version:                       "0.0.1";

$mopidy-mobile-thumbnail-album-bg:      url("#{$sprites-path}?v=#{$sprites-version}") 0 0;
$mopidy-mobile-thumbnail-artist-bg:     url("#{$sprites-path}?v=#{$sprites-version}") -64px 0;
$mopidy-mobile-thumbnail-directory-bg:  url("#{$sprites-path}?v=#{$sprites-version}") -128px 0;
$mopidy-mobile-thumbnail-track-bg:      url("#{$sprites-path}?v=#{$sprites-version}") -192px 0;

/* setup custom "dark" color scheme */
$light:                           #fff !default;
$stable:                          #ccc !default;
$positive:                        #387ef5 !default;
$dark:                            #444 !default;

$base-background-color:           $dark;
$base-color:                      $light;

$button-default-bg:               $dark;
$button-default-text:             $light;
$button-default-border:           #111 !default;
$button-default-active-bg:        #262626 !default;
$button-default-active-border:    #000 !default;

$item-default-bg:                 $button-default-bg;
$item-default-border:             $button-default-border;
$item-default-text:               $button-default-text;
$item-default-active-bg:          $button-default-active-bg;
$item-default-active-border:      $button-default-active-border;

$item-reorder-icon-color:         $light !default;

$bar-transparency:                1 !default;

$bar-default-bg:                  rgba($button-default-bg, $bar-transparency) !default;
$bar-default-text:                $button-default-text !default;
$bar-default-border:              $button-default-border !default;
$bar-default-active-bg:           $button-default-active-bg !default;
$bar-default-active-border:       $button-default-active-border !default;

$popup-background-color:          rgba(64,64,64,0.9) !default;

$input-color:                     darken($base-color, 15%) !default;
$input-label-color:               $base-color;

$range-default-track-bg:          #fff !default;

.range input::-webkit-slider-thumb:before {
    background: #000 !important;
}

$checkbox-off-bg-color:           $dark !default;

@import "style";
