/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// tkem
$positive:                        #ff0000 !default;

$item-thumbnail-width:            64px !default;
$item-thumbnail-height:           64px !default;

//$range-track-height:              5px !default;
$range-slider-width:              12px !default;
$range-slider-height:             12px !default;
//$range-slider-border-radius:      50% !default;
//$range-icon-size:                 24px !default;
//$range-slider-box-shadow:         0 0 2px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2) !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include application styles
@import "app";
