.cache/
.tox/
build/
dist/
mopidy_mobile/www/*/
mopidy_mobile/www/mopidy-mobile.bundle.min.js
node_modules/
platforms/
plugins/
www/css/
www/lib/
*.egg-info
*.pyc
*.swp
.*.json
.coverage
build.json
MANIFEST
