*.egg-info
*.pyc
.coverage
build/
dist/
hooks/
mopidy_mobile/www/css/
mopidy_mobile/www/images/
mopidy_mobile/www/js/
mopidy_mobile/www/lib/
mopidy_mobile/www/templates/
node_modules/
platforms/
plugins/
resources/android/icon/
resources/android/splash/
www/css/
www/js/*.min.js
www/lib/
