*.egg-info
*.pyc
.coverage
build/
dist/
hooks/
mopidy_mobile/www/*/
node_modules/
platforms/
plugins/
resources/android/icon/
resources/android/splash/
resources/ios/icon/
resources/ios/splash/
www/css/
www/js/*.min.js
www/lib/
