<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mopidymobile190318" version="0.8.3">
  <name>Mopidy Mobile</name>
  <description>
    Mopidy Mobile is a Mopidy_ Web client extension and hybrid mobile
    app, currently supporting iOS 7+ and Android 4.4 and higher.
    Users of older Android versions may still access the Web extension
    using Google's Chrome browser.
  </description>
  <author email="tkemmer@computer.org">
    Thomas Kemmer
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="android-minSdkVersion" value="19"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
