<ion-view cache-view="false" view-title="{{'Edit playlists' | translate}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear" ng-click="goBack()">
      <i class="mopidy-mobile-icon-check"></i> {{'Done' | translate}}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-create"
            nav-transition="none"
            ui-sref="playlist.edit({uri: null})"
            >
    </button>
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-menu"
            ng-click="popover.show($event)"
            ng-controller="PlaylistsMenuController"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="true">
      <ion-item ng-repeat="playlist in playlists | playlistOrder : order">
        <h2>{{playlist.name || playlist.uri}}</h2>
        <h4>{{getURIScheme(playlist.uri)}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="confirmDelete(playlist)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
