<div class="list">
  <div class="item item-text-wrap" ng-if="track.name">
    <h2>{{track.name || track.uri}}</h2>
    <h4 translate>Track</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.album.name">
    <h2>{{track.album.name}}</h2>
    <h4 translate>Album</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.artists.length">
    <h2 class="mopidy-mobile-artists">
      <span ng-repeat="artist in track.artists">{{artist.name}}</span>
    </h2>
    <h4 translate>Artist</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.composers.length">
    <h2 class="mopidy-mobile-artists">
      <span ng-repeat="artist in track.composers">{{artist.name}}</span>
    </h2>
    <h4 translate>Composer</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.performers.length">
    <h2 class="mopidy-mobile-artists">
      <span ng-repeat="artist in track.performers">{{artist.name}}</span>
    </h2>
    <h4 translate>Performer</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.album.artists.length">
    <h2 class="mopidy-mobile-artists">
      <span ng-repeat="artist in track.album.artists">{{artist.name}}</span>
    </h2>
    <h4 translate>Album artist</h4>
  </div>
  <div class="item" ng-if="track.track_no">
    <h2>{{track.track_no}}</h2>
    <h4 translate>Track number</h4>
  </div>
  <div class="item" ng-if="track.disc_no">
    <h2>{{track.disc_no}}</h2>
    <h4 translate>Disc number</h4>
  </div>
  <div class="item" ng-if="track.genre">
    <h2>{{track.genre}}</h2>
    <h4 translate>Genre</h4>
  </div>
  <div class="item" ng-if="track.date">
    <h2>{{track.date}}</h2>
    <h4 translate>Date</h4>
  </div>
  <div class="item" ng-if="track.length">
    <h2>{{track.length | duration}}</h2>
    <h4 translate>Duration</h4>
  </div>
  <div class="item" ng-if="track.bitrate">
    <h2>{{track.bitrate}}</h2>
    <h4 translate>Bitrate</h4>
  </div>
  <div class="item item-text-wrap" ng-if="track.comment">
    <h2>{{track.comment}}</h2>
    <h4 translate>Comment</h4>
  </div>
</div>
