<ion-view cache-view="false" view-title="{{'Configured servers' | translate}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear" ng-click="goBack()">
      <i class="mopidy-mobile-icon-check"></i> {{'Done' | translate}}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="secondary">
    <button class="mopidy-mobile-button-icon mopidy-mobile-icon-create"
            nav-transition="none"
            ui-sref="^.add"
            >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="true">
      <ion-item ng-repeat="server in servers | filter:{auto: false}">
        <h2>{{server.name}}</h2>
        <h4>{{server.url}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(server)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
