<ion-popover-view class="mopidy-mobile-menu">
  <ion-content scroll="false">
    <ion-list>
      <div class="item button-bar">
        <button class="button button-clear"
                ng-class="{'button-positive': options.consume}"
                ng-click="toggleConsume()"
                >
          <svg viewBox="0 0 64 64">
            <g>
              <path d="M 35.623047 9.5019531 A 22.5 22.5 0 0 0 19.384766 16.089844 A 22.5 22.5 0 0 0 19.384766 47.910156 A 22.5 22.5 0 0 0 51.205078 47.910156 L 35.294922 32 L 51.205078 16.089844 A 22.5 22.5 0 0 0 35.623047 9.5019531 z M 32 18.955078 A 2.5 2.5 0 0 1 34.5 21.455078 A 2.5 2.5 0 0 1 32 23.955078 A 2.5 2.5 0 0 1 29.5 21.455078 A 2.5 2.5 0 0 1 32 18.955078 z" />
            </g>
          </svg>
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-random"
                ng-class="{'button-positive': options.random}"
                ng-click="toggleRandom()"
                >
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-repeat"
                ng-class="{'button-positive': options.repeat}"
                ng-click="toggleRepeat()"
                >
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-single"
                ng-class="{'button-positive': options.single}"
                ng-click="toggleSingle()"
                >
        </button>
      </div>
      <button class="item" ng-click="menu.hide().then(saveAs)" ng-disabled="!tlTracks.length">
        {{'Save as' | translate}}&hellip;
      </button>
      <button class="item" ng-click="menu.hide().then(confirmClear)" ng-disabled="!tlTracks.length">
        {{'Clear' | translate}}&hellip;
      </button>
    </ion-list>
  </ion-content>
</ion-popover-view>
