<ion-popover-view class="mopidy-mobile-menu">
  <ion-content scroll="false">
    <ion-list>
      <div class="item button-bar">
        <button class="button button-clear"
                ng-class="{'button-positive': options.consume}"
                ng-click="toggleConsume()"
                >
          <svg viewBox="0 0 96 96">
            <g>
	            <path d="M58.3,48l21.1-21.1c1.5-1.5,1.5-3.8,0-5.3c-7.1-7.1-16.5-11-26.4-11
		                   c-20.7,0-37.5,16.8-37.5,37.5S32.3,85.5,53,85.5c9.9,0,19.3-3.9,26.4-11c1.5-1.5,1.5-3.8,0-5.3L58.3,48z M47.3,36.8
		                   c-3.1,0-5.6-2.5-5.6-5.6s2.5-5.6,5.6-5.6c3.1,0,5.6,2.5,5.6,5.6S50.4,36.8,47.3,36.8z" />
            </g>
          </svg>
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-random"
                ng-class="{'button-positive': options.random}"
                ng-click="toggleRandom()"
                >
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-repeat"
                ng-class="{'button-positive': options.repeat}"
                ng-click="toggleRepeat()"
                >
        </button>
        <button class="button button-clear button-icon icon mopidy-mobile-icon-single"
                ng-class="{'button-positive': options.single}"
                ng-click="toggleSingle()"
                >
        </button>
      </div>
      <button class="item" ng-click="menu.hide().then(saveAs)" ng-disabled="!tlTracks.length">
        {{'Save as' | translate}}&hellip;
      </button>
      <button class="item" ng-click="menu.hide().then(confirmClear)" ng-disabled="!tlTracks.length">
        {{'Clear' | translate}}&hellip;
      </button>
    </ion-list>
  </ion-content>
</ion-popover-view>
