<ion-view view-title="{{'Look and feel' | translate}}">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label" translate>
          Language
        </div>
        <select ng-model="settings.locale"
                ng-options="id as locale.displayName for (id, locale) in locales"
                >
          <option value="" translate>Default</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" translate>
          Theme
        </div>
        <select ng-model="settings.stylesheet">
          <option value="css/ionic-dark.min.css">Ionic Dark</option>
          <option value="css/ionic-light.min.css">Ionic Light</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" translate>
          Default click action
        </div>
        <select ng-model="settings.action">
          <option value="play" translate>Play now</option>
          <option value="next" translate>Play next</option>
          <option value="add" translate>Add to tracklist</option>
          <option value="replace" translate>Replace tracklist</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
