<ion-view view-title="{{'Licenses' | translate}}">
  <ion-content>
    <div class="list">

      <div class="item">
        <h2>
          <a href="https://docs.mopidy.com/en/latest/api/js/" target="_system">Mopidy.js</a>
        </h2>
        <h3>Copyright &copy; 2015 Stein Magnus Jodal and contributors.</h3>
        <h3>
          <a href="https://github.com/mopidy/mopidy.js/blob/master/LICENSE" target="_system">
            Apache License, Version 2.0
          </a>
        </h3>
      </div>

      <div class="item">
        <h2>
          <a href="http://ionicframework.com/" target="_system">Ionic</a>
        </h2>
        <h3>Copyright &copy; 2013-2016 Drifty Co.</h3>
        <h3>
          <a href="https://github.com/driftyco/ionic/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item">
        <h2>
          <a href="http://angularjs.org/" target="_system">AngularJS</a>
        </h2>
        <h3>Copyright &copy; 2010-2016 Google, Inc.</h3>
        <h3>
          <a href="https://github.com/angular/angular.js/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item">
        <h2>
          <a href="http://angular-translate.github.io/" target="_system">angular-translate</a>
        </h2>
        <h3>Copyright &copy; 2014 &lt;pascal.precht@gmail.com&gt;.</h3>
        <h3>
          <a href="https://github.com/angular-translate/angular-translate/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item">
        <h2>
          <a href="https://messageformat.github.io/" target="_system">messageformat.js</a>
        </h2>
        <h3>Copyright &copy; 2012-2016 Alex Sexton, Eemeli Aro, and Contributors.</h3>
        <h3>
          <a href="https://github.com/SlexAxton/messageformat.js/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item" ng-if="platform.isWebView()">
        <h2>
          <a href="http://cordova.apache.org/" target="_system">Apache Cordova</a>
        </h2>
        <h3>Copyright &copy; 2012, 2013, 2015 The Apache Software Foundation.</h3>
        <h3>
          <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_system">
            Apache License, Version 2.0
          </a>
        </h3>
      </div>

      <div class="item" ng-if="platform.isWebView()">
        <h2>
          <a href="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin" target="_system">PhoneGap Social Sharing Plugin</a>
        </h2>
        <h3>Copyright &copy; 2014-2016 Eddy Verbruggen.</h3>
        <h3>
          <a href="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin/blob/master/MIT" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item" ng-if="platform.isWebView()">
        <h2>
          <a href="https://github.com/homerours/cordova-music-controls-plugin" target="_system">Cordova Music Controls Plugin</a>
        </h2>
        <h3>Copyright &copy; 2015 HomerOurs.</h3>
        <h3>
          <a href="https://github.com/homerours/cordova-music-controls-plugin/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

      <div class="item" ng-if="platform.isWebView()">
        <h2>
          <a href="https://github.com/becvert/cordova-plugin-zeroconf" target="_system">Cordova ZeroConf Plugin</a>
        </h2>
        <h3>Copyright &copy; 2015 becvert.</h3>
        <h3>
          <a href="https://github.com/becvert/cordova-plugin-zeroconf/blob/master/LICENSE" target="_system">
            MIT License
          </a>
        </h3>
      </div>

    </div>
  </ion-content>
</ion-view>
