<ion-view view-title="{{'Look and feel' | translate}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="SettingsController as settings">
    <div class="list">
      <ion-input class="item item-input item-select">
        <ion-label translate>Language</ion-label>
        <select ng-model="settings.locale"
                ng-options="id as locale.displayName for (id, locale) in settings.locales"
                >
          <option value="" translate>Default</option>
        </select>
      </ion-input>
      <ion-input class="item item-input item-select">
        <ion-label translate>Theme</ion-label>
        <select ng-model="settings.stylesheet">
          <option value="css/ionic-dark.min.css">Ionic Dark</option>
          <option value="css/ionic-light.min.css">Ionic Light</option>
        </select>
      </ion-input>
      <ion-input class="item item-input item-select">
        <ion-label translate>Default click action</ion-label>
        <select ng-model="settings.action">
          <option value="play" translate>Play now</option>
          <option value="next" translate>Play next</option>
          <option value="add" translate>Add to tracklist</option>
          <option value="replace" translate>Replace tracklist</option>
        </select>
      </ion-input>
      <ion-input class="item item-input item-select">
        <ion-label translate>Request timeout</ion-label>
        <select ng-model="settings.timeout" convert-to-number>
          <option value="5000" translate translate-values="{count: 5}">{count} seconds</option>
          <option value="10000" translate translate-values="{count: 10}">{count} seconds</option>
          <option value="15000" translate translate-values="{count: 15}">{count} seconds</option>
          <option value="30000" translate translate-values="{count: 30}">{count} seconds</option>
          <option value="60000" translate translate-values="{count: 60}">{count} seconds</option>
        </select>
      </ion-input>
      <ion-input class="item item-input item-select" ng-show="platform.isWebView()">
        <ion-label translate>Volume keys</ion-label>
        <select ng-model="settings.volumestep" convert-to-number>
          <option value="1">&plusmn;1%</option>
          <option value="2">&plusmn;2%</option>
          <option value="3">&plusmn;3%</option>
          <option value="4">&plusmn;4%</option>
          <option value="5">&plusmn;5%</option>
          <option value="6">&plusmn;6%</option>
          <option value="7">&plusmn;7%</option>
          <option value="8">&plusmn;8%</option>
          <option value="9">&plusmn;9%</option>
          <option value="10">&plusmn;10%</option>
        </select>
      </ion-input>
    </div>
  </ion-content>
</ion-view>
